---
---

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";

$color-background: #F5F5F5;
$color-main: #000000;
$color-active: #FFF;
$color-link: #FFF;
$button-height: 27px;
$button-width: 30px;


body {padding-top: 4.5rem;}
h1, h2, h3 {font-family: 'Vidaloka'}
.main-nav {padding: 2rem 0;}
.content {font-size: $custom-font-size;}
.navbar-brand {font-family: 'Playfair Display'; font-weight: bold; font-size: 26px;
	span {color:#4dafbc; }
	}
.post {margin-top: 50px;margin-bottom: 50px; text-align: center;
	a {color:#000;
		&:after {
			content: '';
			display: block;
			width: 25px;
			height: 1px;
			background-color: #888;
			margin: 2rem 0 0;
			margin-left: auto;
			margin-right: auto;
			}
		&:hover{
			text-decoration: none;
			img {opacity: 0.8;}
			.underline { background-size: 100% 100%;
				}
			}
		}
	.post-meta {color: #bbb; font-size: 0.8rem;}
	h3 {
		margin-top: 1rem;
		font-size: 24px;
  		padding: 0 6px 2px 6px;
  		cursor: pointer;
		color: #000000;
    	letter-spacing: .08rem;
  		}
  	.underline {
  		width: calc(100%);
	  	background-image: linear-gradient(transparent calc(100% - 10px), #c4e8ec 10px);
	  	background-repeat: no-repeat;
	  	background-size: 0% 100%;
	  	transition: background-size 0.3s;
	  	}
	img {margin-bottom: 1rem;}
}
.navbar-light .navbar-toggler {border: none;}
.social-media-list { list-style: none; margin-left: 0;
    .svg-icon {
    	width: 16px;
	    height: 16px;
	    display: inline-block;
	    fill: #000000;
	    vertical-align: text-top;
		}
}

.button_container {
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  padding-left: 0px;
  padding-right: 0px;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
  background: $color-main;
  border: none;
  height: 3px;
  margin: 4px 0;
  width: 100%;
  transition:  all .35s ease;
  cursor: pointer;
  display: block;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}