---
---

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";

.content {
  font-size: $custom-font-size;
}

h1, h2, h3 {font-family: 'Vidaloka'}
.post {margin-top: 50px;margin-bottom: 50px; text-align: center;}

.post {
	a {color:#000; }
	a {
		&:after {
			content: '';
		    display: block;
		    width: 25px;
		    height: 1px;
		    background-color: #888;
		    margin: 20px 0 0;
	        margin-left: auto;
	    	margin-right: auto;
	    	}
	    }
	.post-meta {color: #bbb; font-size: 0.8rem;}
	h3 {margin-top: 1rem;font-size: 24px;letter-spacing: 1px;}
}