---
---

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";

$color-background: #F5F5F5;
$color-main: #000000;
$color-active: #4dafbc;
$color-link: #4dafbc;
$color-hover: #c4e8ec;
$button-height: 27px;
$button-width: 30px;
$heading-fonts: 'Playfair Display', 'impact', serif;
$paragraph-fonts: 'Quicksand','arial', san serif;


main {padding-top: 70px;}
h1, h2, h3 {font-family: $heading-fonts}
p, span, a {font-family: $paragraph-fonts; font-size: 1rem;}
.main-nav {padding: 2rem 0;}
.navbar-nav {z-index: 100;}
.navbar-brand {font-family: $heading-fonts; font-weight: bold; font-size: 26px;
	span {color:$color-link;font-family: $heading-fonts;font-size: 26px }
	}
.post {margin-top: 50px;margin-bottom: 50px; text-align: center;
	a {color:#000;
		&:after {
			content: '';
			display: block;
			width: 25px;
			height: 1px;
			background-color: $color-main;
			margin: 2rem 0 0;
			margin-left: auto;
			margin-right: auto;
			}
		&:hover{
			text-decoration: none;
			img {opacity: 0.8;}
			.underline { background-size: 100% 100%;}
			}
		}
	.post-meta {color: #bbb; font-size: 0.8rem;}
	h3 {
		margin-top: 1rem;
  	padding: 0 6px 2px 6px;
  	cursor: pointer;
		color: #000000;
      span {font-family: $heading-fonts;font-size: 1.7rem;}
  		}
  	.underline {
  		width: calc(100%);
	  	background-image: linear-gradient(transparent calc(100% - 10px), $color-hover 10px);
	  	background-repeat: no-repeat;
	  	background-size: 0% 100%;
	  	transition: background-size 0.3s;
	  	}
	img {margin-bottom: 1rem;}
}
.navbar-light .navbar-toggler {border: none;}
.social-media-list { list-style: none; margin-left: 0;
    .svg-icon {
    	width: 16px;
	    height: 16px;
	    display: inline-block;
	    fill: #000000;
	    vertical-align: text-top;
		}
    a {padding-top: 0.8rem;}
}

button.button_container {
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  padding-left: 0px;
  padding-right: 0px;

  &:hover {
    opacity: .7;
  }

  &:focus {
    border: none;
    text-decoration: none;
    outline: none;
  }

  &.active {
    .top {
      transform: translateY(3px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
  background: $color-main;
  border: none;
  height: 3px;
  margin: 4px 0;
  width: 100%;
  transition:  all .35s ease;
  cursor: pointer;
  display: block;

    &:nth-of-type(1) {margin: 0 0 4px 0;}

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}
.overlay {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  .row {
    padding-top: 3rem;
  }

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        font-family: $heading-fonts;
        font-size: 1.5rem;

        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }

        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          bottom: 18%;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 10px;
          background: $color-hover;
          transition: .3s;
        }
      }
    }
  }
  #bio {animation: fadeInRight .5s ease forwards;animation-delay: .35s;opacity: 0;
  p {max-width: 300px;
    display: inline-block;}
  img {padding:1rem}
  h3 {padding: 1rem}
}
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
footer {padding: 1rem; background: #eee; text-align: center; margin-top: 2rem;
  p {color: $color-main; margin: 0px;font-family: $heading-fonts; font-size: 1rem;
    a { color: $color-link;
      &:hover { color: $color-hover;}
    }
  }
}
article { margin-top:50px; padding-bottom:3rem;
  h1 { color:$color-main; background: #fff; padding:20px;
    time {color: $color-link;}
    &:after {
      content: '';
      display: block;
      width: 25px;
      height: 1px;
      background-color: $color-main;
      margin: 2rem 0 0;
      margin-left: auto;
      margin-right: auto;
      }
    }
  .banner {margin:10px;overflow:hidden;background-size:cover; position:relative; background-position: center center;
    .container {position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);}
  }
  .post-content {padding-top:3rem;}
}
#main-menu { -webkit-transition: padding .5s, line-height .5s; /* Safari */
    transition: padding .5s, line-height .5s;
    background-color: rgba(255, 255, 255, 0.9);
}
.scrolled-nav {padding: 5px 0;}