<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="stylesheet" href="/assets/main.css">
  <script type="text/javascript" src="/assets/main.js"></script>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>
  <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
  <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  <script type="text/javascript">
    $('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#navbarCollapse').toggleClass('open');
  });
       var WindowsSize=function(){
              var h=$(window).height()-130,
                  w=$(window).width();
              $("#winSize").css({"height": +h+"px", "background-image": "url('{{ page.banner | escape }}')"});
          };
         $(document).ready(WindowsSize);
         $(window).resize(WindowsSize);
         $(document).ready(function(){
		  var scrollTop = 0;
		  $(window).scroll(function(){
		    scrollTop = $(window).scrollTop();
		     $('.counter').html(scrollTop);

		    if (scrollTop >= 100) {
		      $('#main-menu').addClass('scrolled-nav');
		    } else if (scrollTop < 100) {
		      $('#main-menu').removeClass('scrolled-nav');
		    }

		  });

		});
          $(function() {
        $('.lazy').Lazy({
        // your configuration goes here
        scrollDirection: 'vertical',
        effect: 'fadeIn',
        visibleOnly: true,
        onError: function(element) {
            console.log('error loading ' + element.data('src'));
        }
    });
        });
      </script>
    {%- include footer.html -%}

  </body>

</html>
