---
layout: default
description: {{ page.description }}
---
<progress value="0" id="progressBar" class="flat">
  <div class="progress-container">
    <span class="progress-bar"></span>
  </div>
</progress>
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="banner" id="winSize">
    <div class="container">
      <header class="row justify-content-center">
        <div class="col-lg-5 col-md-7 col-sm-9 text-center">
          <h1 class="post-title" itemprop="name headline"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d" -%}
                {{ page.date | date: date_format }}
              </time>{{ page.title | escape }}</h1>
        </div>
      </header>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center post-content" itemprop="articleBody">
      <div class="col-sm-8">
        {{ content }}
        {%- include social-share.html -%}
        {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
        {%- endif -%}
        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </div>
    </div>
  </div>
</article>
<aside class="container">
<div class="row"><div class="col-6">{% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; Previous</a>
  {% endif %}</div>
  <div class="col-6 text-right">{% if page.next.url %}
      <a class="next" href="{{page.next.url}}">Next &raquo;</a>
    {% endif %}</div></div>
</aside>
